<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <div id="header-div"> 
    <div id="banner">
        <button id="home-btn">HOME</button>
        <button id="news-btn">NEWS</button>
        <button id="songs-btn">SONGS</button>
        <button id="jazz-jams-btn">JAZZ JAMS</button>
        <button id="apps-btn">APPS</button>
        <button id="player-btn">PLAYER</button>
    </div>
    <!-- <div id="feather">
        <img id='feather-img' src="images/Blue_Origin_Feather.svg.png" height="60" width="240">
    </div> -->
</div>
<script src="js/header.js"></script>
</head>
<body>

</body>
</html>