<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/jazz.css">
        <%- include('header'); -%>
    </head>
    <body>
        <div id="main-div">
            <div id="asteroid">
                <h1>Asteroid Blues</h1>
            </div>
            <div id="cloud">
                <h1>Cloud Jams</h1>
                <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/jeSU0uNk5V8?si=vgznN1nXrOS9H9-n"
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
            <div id="freestyle">
                <h1>Freestyle Flows</h1>           
            </div>
        </div>
    </body>
</html>