<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/songs.css">
        <%- include('header'); -%>
    </head>
    <body>
        <button id="test-btn">TEST</button>
        <div id = 'test-div'></div>
        <script src="js/main.js"></script>
    </body>
</html>