<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/news.css">
        <%- include('header'); -%>
    </head>
    <body>
        <div id="news1" class="news-div">
            <h1>This is a title</h1>
            <img src="images/duck.jpg" alt="branch image" class="news-pic">
            <h3>This is a description</h3>
        </div>
    </body>
</html>